!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Killin' It
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .row
        .col-md-12
          = render partial: "application/navbar", locals: {account_options_active: @navbar_account_options_active.nil? ? false : @navbar_account_options_active}
          .flashes
            = render partial: "application/flashes", locals: {flash: flash}
          .content
            = yield
          .footer.text-center.text-muted
            %p Created by Phitherek_ in 2015
            %p Original idea by Alex Faciane from Super Beard Bros. show